@model PizzaBox.Client.Models.StoreLoginViewModel
@{
    TempData.Clear();
    ViewBag.Title = "Store - Login";
    Layout = "_CustomLayout";
}
<form method="POST" asp-controller="Store" asp-action="Welcome">
@foreach(var store in Model.AllStores)
{
    <input type="radio" name="CurrentStoreId" id="@store.EntityId" value="@store.EntityId">
    <label for="@store.EntityId">@store.Name</label>
}
<button>Sign In</button>
</form>
